/* 导航栏样式 */
.nav {
    background: #fff; /* 设置导航栏背景色为白色 */
    height: 60px; /* 设置导航栏高度为60px */
    border-bottom: 1px solid #e9ecef; 
    /* 设置导航栏底部边框为1px灰色 */
}

/* 导航栏列表项悬停效果 */
.nav li:hover {
    border-bottom: 1px solid #DE3712; /* 设置列表项悬停时底部边框为1px红色 */
}

/* 导航栏链接悬停效果 */
.nav-link:hover {
    color: #DE3712; /* 设置链接悬停时颜色为红色 */
}
